<div class="row">
    <div class="col-md-12">
        <div class="panel widget-member2">
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-xs-12">
                    <img src="{{dto.patientPhotoFileUrl}}" alt="{{dto.patientPhotoFileName}}" class="pull-left img-responsive" style="width:100%">
                </div>
                <div class="col-lg-11 col-sm-11">
                    <div class="clearfix">
                        <h3 class="m-t-0 member-name"><strong>{{dto.patient.patientName}}</strong> <span class="member-job">MRN: {{dto.patient.mrn}}</span>
                            <span barcode-c128-directive code-value="{{dto.patient.mrn}}"/>
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-xlg-4 col-lg-4 col-sm-4">
                            <p><i class="fa fa-skype c-gray-light p-r-10"> 性别：</i> {{dto.patient.sex}}</p>
                        </div>
                        <div class="col-xlg-4 col-lg-4 col-sm-4 align-right">
                            <p><i class="icon-envelope  c-gray-light p-r-10"> 生日：</i> {{dto.patient.dob}}</p>
                        </div>
                        <div class="col-xlg-4 col-lg-4 col-sm-4 align-right">
                            <p><i class="icon-target c-gray-light p-r-10"> 血型：</i> {{dto.patient.bloodType}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-primary nav-justified">
            <li  ng-class="{active  : isActive('biz.patients.details')}"><a  ui-sref="biz.patients.details({patientId:patientId})" style="background-color: transparent !important;"><i class="icon-home"></i> 个人简介</a></li>
            <li  ng-class="{active  : isActive('biz.patients.details.summary')}"><a ui-sref="biz.patients.details.summary({patientId:patientId})" style="background-color: transparent !important;"><i class="icon-user"></i> 医疗小结</a></li>
            <li  ng-class="{active  : isActive('biz.patients.details.timeline')}"><a ui-sref="biz.patients.details.timeline({patientId:patientId})" style="background-color: transparent !important;"><i class="icon-cloud-download"></i> 时间线</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" ui-view>
                <div class="patientProfile" ng-hide="isEditing">
                    <style>
                        .patientProfile .dl-horizontal dt{width:100px;}
                        .patientProfile .dl-horizontal dd{margin-left:120px;}
                    </style>
                    <div class="row">
                        <div class="col-md-3">
                            <dl class="dl-horizontal">
                                <dt>人种</dt><dd>{{dto.patient.ethnicity}}</dd>
                                <dt>民族</dt><dd>{{dto.patient.race}}</dd>
                                <dt>国籍</dt><dd>{{dto.patient.nationality}}</dd>
                                <dt>籍贯</dt><dd>{{dto.patient.nativePlace}}</dd>
                                <dt>首选语言</dt><dd>{{dto.patient.preferredLanguage}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>病历号</dt><dd>{{dto.patient.mrn}}</dd>
                                <dt>医保号</dt><dd>{{dto.patient.ssn}}</dd>
                                <dt>身份证</dt><dd>{{dto.patient.idNo}}</dd>
                                <dt>婚姻状况</dt><dd>{{dto.patient.maritalStatus}}</dd>
                                <dt>职业</dt><dd>{{dto.patient.industry}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-5">
                            <dl class="dl-horizontal">
                                <dt>电子邮箱</dt><dd>{{dto.patient.email}}</dd>
                                <dt>移动电话</dt><dd>{{dto.patient.mobile}}</dd>
                                <dt>单位电话</dt><dd>{{dto.patient.workPhone}}</dd>
                                <dt>其他联系人</dt><dd>{{dto.patient.contactPerson}} （{{dto.patient.contactRelationship}}）</dd>
                                <dt>联系人电话</dt><dd>{{dto.patient.contactPhone}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <dl class="dl-horizontal">
                                <dt>家庭地址</dt><dd>{{dto.patient.homeAddress}}</dd>
                                <dt>居住地址</dt><dd>{{dto.patient.registeredAddress}}</dd>
                                <dt>单位地址</dt><dd>{{dto.patient.workAddress}}</dd>
                                <dt>工作单位</dt><dd>{{dto.patient.company}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-5">
                            <dl class="dl-horizontal">
                                <dt>家庭地址邮编</dt><dd>{{dto.patient.homeZip}}</dd>
                                <dt>居住地址邮编</dt><dd>{{dto.patient.registeredZip}}</dd>
                                <dt>单位地址邮编</dt><dd>{{dto.patient.workZip}}</dd>
                                <dt></dt><dd></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-primary" ng-click="editPatientProfile()">编辑</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="patientProfileEditor" ng-show="isEditing">
                    <div panel-box-directive>
                        <div panel-box-header-directive header-title="基础信息"></div>
                        <div panel-box-content-directive>
                            <div class="row">
                                <div class="col-md-4">
                                    <div image-file-input-directive label="上传头像" fileurl="dot.patientPhotoFileUrl" fileid="dto.patientPhotoFileId" filedata="dto.patientPhotoFileData" fileread="dto.patientPhotoFileRead"></div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>姓名</label>
                                                <div class="prepend-icon">
                                                    <input type="text" ng-model="dto.patient.patientName" class="form-control form-white" placeholder="患者姓名">
                                                    <i class="icon-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>性别</label>
                                                <div class="prepend-icon">
                                                    <select select2-directive ng-model="dto.patient.sex" init-value="{{dto.patient.sex}}" class="form-control form-white" data-placeholder="性别">
                                                        <option selected="selected">男</option>
                                                        <option>女</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>生日</label>
                                                <div class="prepend-icon">
                                                    <input type="text" ng-model="dto.patient.dob" class="form-control form-white" placeholder="生日">
                                                    <i class="icon-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>血型</label>
                                                <div class="prepend-icon">
                                                    <select select2-directive ng-model="dto.patient.bloodType" init-value="{{dto.patient.bloodType}}" class="form-control form-white" data-placeholder="血型">
                                                        <option selected="selected">O</option>
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>AB</option>
                                                        <option>RH+</option>
                                                        <option>RH-</option>
                                                        <option>D缺失型</option>
                                                        <option>AA</option>
                                                        <option>Ai</option>
                                                        <option>BB</option>
                                                        <option>Bi</option>
                                                        <option>ii</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>人种</label>
                                                <div class="prepend-icon">
                                                    <select select2-directive ng-model="dto.patient.ethnicity" init-value="{{dto.patient.ethnicity}}" class="form-control form-white" data-placeholder="人种">
                                                        <option selected="selected">黄种人</option>
                                                        <option>白种人</option>
                                                        <option>黑人</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>民族</label>
                                                <div class="prepend-icon">
                                                    <select select2-directive ng-model="dto.patient.race" init-value="{{dto.patient.race}}" class="form-control form-white" data-placeholder="民族">
                                                        <option selected="selected">汉族</option>
                                                        <option>其他</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>国籍</label>
                                        <div class="prepend-icon">
                                            <select select2-directive ng-model="dto.patient.nationality" init-value="{{dto.patient.nationality}}" class="form-control form-white" data-placeholder="国籍">
                                                <option selected="selected">中国</option>
                                                <option>美国</option>
                                                <option>英国</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>籍贯</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.nativePlace" class="form-control form-white" placeholder="籍贯">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>首选语言</label>
                                        <div class="prepend-icon">
                                            <select select2-directive ng-model="dto.patient.preferredLanguage" init-value="{{dto.patient.preferredLanguage}}" class="form-control form-white" data-placeholder="首选语言">
                                                <option selected="selected">汉语</option>
                                                <option>English</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>医疗保险卡号</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.ssn" class="form-control form-white" placeholder="医疗保险卡号">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>身份证</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.idNo" class="form-control form-white" placeholder="身份证号码">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>婚姻状况</label>
                                        <div class="prepend-icon">
                                            <select select2-directive ng-model="dto.patient.maritalStatus" init-value="{{dto.patient.maritalStatus}}" class="form-control form-white" data-placeholder="婚姻状况">
                                                <option selected="selected">未婚</option>
                                                <option>已婚</option>
                                                <option>离婚</option>
                                                <option>丧偶</option>
                                                <option>未知</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>行业</label>
                                        <div class="prepend-icon">
                                            <select select2-directive ng-model="dto.patient.industry" init-value="{{dto.patient.industry}}" class="form-control form-white" data-placeholder="行业">
                                                <option selected="selected">计算机</option>
                                                <option>建筑工人</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div panel-box-directive>
                        <div panel-box-header-directive header-title="联系方式"></div>
                        <div panel-box-content-directive>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>电子邮箱</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.email" class="form-control form-white" placeholder="邮箱">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>移动电话</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.mobile" class="form-control form-white" placeholder="移动电话">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>单位电话</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.workPhone" class="form-control form-white" placeholder="单位电话">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>工作单位</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.company" class="form-control form-white" placeholder="工作单位">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>单位地址</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.workAddress" class="form-control form-white" placeholder="单位地址">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>邮编</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.workZip" class="form-control form-white" placeholder="邮编">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>联系人</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.contactPerson" class="form-control form-white" placeholder="联系人">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>关系</label>
                                        <div class="prepend-icon">
                                            <select select2-directive ng-model="dto.patient.contactRelationship" init-value="{{dto.patient.contactRelationship}}" class="form-control form-white" data-placeholder="关系">
                                                <option selected="selected">爷爷</option>
                                                <option>奶奶</option>
                                                <option>父亲</option>
                                                <option>母亲</option>
                                                <option>子女</option>
                                                <option>同学</option>
                                                <option>同事</option>
                                                <option>朋友</option>
                                                <option>其他</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>联系人电话</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.contactPhone" class="form-control form-white" placeholder="联系人电话">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>家庭地址</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.homeAddress" class="form-control form-white" placeholder="家庭地址">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>邮编</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.homeZip" class="form-control form-white" placeholder="邮编">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>居住地址</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.registeredAddress" class="form-control form-white" placeholder="居住地址">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>邮编</label>
                                        <div class="prepend-icon">
                                            <input type="text" ng-model="dto.patient.registeredZip" class="form-control form-white" placeholder="邮编">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-primary" ng-click="savePatientProfile()">提交</button>
                                <button type="button" class="btn" ng-click="cancelProfileEditing()">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>