/*patients相关页面的样式*/
.ch-charts-patients>.ch-header{
    padding:0;
    background-color: #4a89dc;
}
.ch-charts-patients>.ch-header .ch-patient-face{
    width: 100px;
    height: 100px;
}
.ch-charts-patients .ch-header h2{
    margin: 0;
    color: #fff;
    font-size: 26px;
}

/*头部*/
.ch-charts-patients-add .ch-header{
    padding:10px;
    background-color: #4a89dc;
}
.ch-charts-patients-add .ch-header h2{
    margin: 0;
    color: #fff;
}
.ch-charts-patients-add .ch-left{
    vertical-align: top!important;
}
/*工具条*/
.ch-charts-patients-add .ch-toolbar-top{
    padding: 10px 10px 0 0;
    text-align: right;
    border-bottom: 2px solid #4a89dc;
}
.ch-charts-patients-add .ch-toolbar-bottom{
    margin-top: 15px;
    padding: 10px 10px 10px 0;
    text-align: right;
    border-top: 2px solid #4a89dc;
}
/*右侧*/
.ch-charts-patients-add .ch-right{
    vertical-align: top!important;
    width: 190px;
    padding: 60px 20px;
}
.ch-charts-patients-add .ch-right .ch-upload-face{
    text-align: center;
    padding-top: 5px;
}
.ch-charts-patients-add h3{
    padding: 5px 10px;
    /*width:450px;*/
    background-color: rgb(4, 94, 165);
    color: #fff;
}
.ch-charts-patients-add .ch-section{
    padding: 5px 10px;
}
/*内容区域*/
.ch-charts-patients-add .ch-body{
    min-height:350px;
}
.ch-charts-patients-add .ch-table-container{
    width: 100%;
}
/*form区域*/
.ch-charts-patients-add .ch-red{
    color: red;
}
.ch-charts-patients-add input.input-sm {
    width: 220px;
}
.ch-charts-patients-add .ch-face-big{
    width: 150px;
    height: 150px;
}
.ch-charts-patients-add label{
    width:100px;
    text-align: right;
}
.ch-charts-patients-add .ch-section .row{
    padding: 3px 0;
}

/*******************patient profile *************************/
/*头部*/
.ch-charts-patients-profile .ch-header{
    padding:10px;
    background-color: #4a89dc;
}
.ch-charts-patients-profile .ch-header h2{
    margin: 0;
    color: #fff;
}
.ch-charts-patients-profile .ch-left{
    vertical-align: top!important;
}
/*工具条*/
.ch-charts-patients-profile .ch-toolbar-top{
    padding: 0px 10px 0 0;
    text-align: right;
    border-bottom: 2px solid #4a89dc;
}
.ch-charts-patients-profile .ch-toolbar-bottom{
    margin-top: 15px;
    padding: 10px 10px 10px 0;
    text-align: right;
    border-top: 2px solid #4a89dc;
}
/*右侧*/
.ch-charts-patients-profile .ch-right{
    vertical-align: top!important;
    width: 190px;
    padding: 60px 20px;
}
.ch-charts-patients-profile .ch-right .ch-upload-face{
    text-align: center;
    padding-top: 5px;
}
.ch-charts-patients-profile h3{
    padding: 5px 10px;
    /*width:450px;*/
    background-color: rgb(4, 94, 165);
    color: #fff;
}
.ch-charts-patients-profile .ch-section{
    padding: 5px 10px;
}
/*内容区域*/
.ch-charts-patients-profile .ch-body{
    min-height:350px;
}
.ch-charts-patients-profile .ch-table-container{
    width: 100%;
}
/*form区域*/
.ch-charts-patients-profile .ch-red{
    color: red;
}
.ch-charts-patients-profile input.input-sm {
    width: 220px;
}
.ch-charts-patients-profile .ch-face-big{
    width: 150px;
    height: 150px;
}
.ch-charts-patients-profile label{
    width:100px;
    text-align: right;
}
.ch-charts-patients-profile .ch-section .row{
    padding: 3px 0;
}