<div class="ch-charts-list">
    <div class="ch-charts-list-header">
        <h2>{{patientCount}} 条最近就诊的患者数据</h2>
    </div>
    <div class="ch-charts-list-toolbar">
        <form role="form" class="form-inline">
            <table class="ch-charts-list-table">
                <tr>
                    <td class="ch-charts-list-td-provider">
                        <select style="width: 150px;" class="form-control form-white ch-charts-list-select-provider" data-style="white" ng-model="providerId" ng-change="changeProvider()" ng-options="provider.ProviderId as provider.ProviderName for provider in providers"></select>
                    </td>
                    <td class="ch-charts-list-td-scheduled">
                        <div class="btn-group">
                            <button class="btn" ng-click="changeScheduled(true)" ng-class="{'ch-charts-list-btn-inactive': scheduledDate == 'recent', 'ch-charts-list-btn-active': scheduledDate != 'recent'}">已预约的患者</button>
                            <button class="btn" ng-click="changeScheduled(false)" ng-class="{'ch-charts-list-btn-inactive': scheduledDate != 'recent', 'ch-charts-list-btn-active': scheduledDate == 'recent'}">最近就诊患者</button>
                        </div>
                    </td>
                    <td class="ch-charts-list-td-show-inactive">
                        <label>
                            <input type="checkbox" data-checkbox="icheckbox_square-blue">
                            显示失效患者
                        </label>
                    </td>
                    <td class="ch-charts-list-td-search-patient">
                        <div class="input-group">
                            <input class="form-control form-white ch-input-search" type="text" placeholder="输入患者姓名或者身份证号">
                            <span class="btn btn-sm btn-primary input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </td>
                    <td class="ch-charts-list-td-add-patient">
                        <button class="btn btn-warning" ui-sref="charts.addpatient">添加患者</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="ch-charts-list-body">
        <table class="table table-hover ch-charts-list-table">
            <thead>
                <tr>
                    <th class="ch-charts-list-td-image"></th>
                    <th class="ch-charts-list-td-patient-name">姓名</th>
                    <th class="ch-charts-list-td-idnumber">身份证号</th>
                    <th class="ch-charts-list-td-dob">生日/性别</th>
                    <th class="ch-charts-list-td-address">地址</th>
                    <th class="ch-charts-list-td-scheduled-date">{{scheduledDate == 'recent'? '最近就诊时间': '预约时间'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dto in patientDtos">
                    <td>
                        <img class="ch-patient-face" ng-src="{{dto.PatientPhotoFileData}}" /></td>
                    <td><a ui-sref="charts.patients.profile({patientId: dto.Patient.Id})" href="#">{{dto.Patient.PatientName}}</a></td>
                    <td>{{dto.Patient.IDNumber}}</td>
                    <td>{{dto.Patient.DateOfBirthTime | date: 'yyyy-MM-dd'}}<br />
                        {{dto.Patient.Sex}}<span ng-show="dto.patient.Age">, {{dto.Patient.Age}}岁</span></td>
                    <td>{{dto.Patient.RegisteredAddress}}<br />
                        <span class="glyphicon glyphicon-earphone" ng-show="dto.patient.MobilePhone"></span> {{dto.Patient.MobilePhone}}</td>
                    <td>{{(scheduledDate == 'recent'? dto.Patient.AccessedTime: dto.Patient.ScheduledDateTime) | date: 'yyyy-MM-dd HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
