<div>
    <div panel-box-directive>
        <div panel-box-header-directive header-title="职员管理"></div>
        <div panel-box-content-directive class="pagination2">
            <div style="padding-bottom: 30px;">
                <table class="table dataTable" id="table2">
                    <thead>
                        <tr>
                            <th class="hide">EmployeeData</th>

                            <th>&nbsp;</th>
                            <th>医师资格证书</th>
                            <th>名称</th>
                            <th>性别</th>
                            <th>职称</th>
                            <th>专科</th>
                            <th>技能</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade insertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>添加</strong> 员工</h4>
                </div>
                <div class="modal-body" style="max-height: 380px; overflow: auto;">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>系统用户</label>
                                    <div>
                                        <input type="text" ng-model="dto.employee.userId" class="userSearch form-control form-white">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>姓</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.familyName" class="form-control form-white" placeholder="姓">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>名</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.givenName" class="form-control form-white" placeholder="名">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>出生日期</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.dob" class="form-control form-white" placeholder="出生日期">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>性别</label>
                                    <div>
                                        <select select2-directive ng-model="dto.employee.provider.userProfile.sex" init-value="{{dto.employee.provider.userProfile.sex}}" class="form-control form-white" data-placeholder="性别">
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>邮箱</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.email" class="form-control form-white" placeholder="邮箱">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>电话</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.mobile" class="form-control form-white" placeholder="电话">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>我是机构管理员</label>
                                    <div class="prepend-icon">
                                        <input type="checkbox" ng-model="dto.employee.manager" data-checkbox="icheckbox_square-blue" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>我是医生</label>
                                    <div class="prepend-icon">
                                        <input type="checkbox" ng-model="dto.IsProvider" data-checkbox="icheckbox_square-blue" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="dto.IsProvider">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师资格证编码</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.certificateNo" class="form-control form-white" placeholder="医师资格证编码">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师职称</label>
                                    <div>
                                        <select select2-directive ng-model="dto.employee.provider.professionalRank" init-value="{{dto.employee.provider.professionalRank}}" class="form-control form-white" multiple="multiple" data-maximum-selection-length="1" data-placeholder="职称">
                                            <option>住院医师</option>
                                            <option>主治医师</option>
                                            <option>副主任医师</option>
                                            <option>主任医师</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师专科</label>
                                    <div specialist-directive specialties="dto.employee.provider.specialties"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="dto.IsProvider">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师执业证编码</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.practiceNo" class="form-control form-white" placeholder="医师执业证编码">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师执业地区</label>
                                    <div citylist-directive location="dto.employee.provider.practiceLocation"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>第一执业机构</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.primaryPracticeName" class="form-control form-white" placeholder="第一执业机构">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="dto.IsProvider">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>医师技能</label>
                                    <div class="prepend-icon">
                                        <textarea ng-model="dto.employee.provider.skills" class="form-control form-white" placeholder="医师技能"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-embossed" ng-click="submitEmployeeEditor(true, dto.employee)">添加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>修改</strong> 科室</h4>
                </div>
                <div class="modal-body" style="max-height: 380px; overflow: auto;">
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>姓</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.familyName" class="form-control form-white" placeholder="姓">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>名</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.givenName" class="form-control form-white" placeholder="名">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>性别</label>
                                    <div>
                                        <select select2-directive ng-model="dto.employee.provider.userProfile.sex" init-value="{{dto.employee.provider.userProfile.sex}}" class="form-control form-white" data-placeholder="性别">
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>出生日期</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.dob" class="form-control form-white" placeholder="出生日期">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>电话</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.mobile" class="form-control form-white" placeholder="电话">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>邮箱</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.userProfile.email" class="form-control form-white" placeholder="邮箱">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>我是机构管理员</label>
                                    <div class="prepend-icon">
                                        <input type="checkbox" ng-model="dto.employee.manager" data-checkbox="icheckbox_square-blue" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>我是医生</label>
                                    <div class="prepend-icon">
                                        <input type="checkbox" ng-model="dto.IsProvider" data-checkbox="icheckbox_square-blue" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <div class="row" ng-show="dto.IsProvider">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师资格证编码</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.certificateNo" class="form-control form-white" placeholder="医师资格证编码">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师职称</label>
                                    <div>
                                        <select select2-directive ng-model="dto.employee.provider.professionalRank" init-value="{{dto.employee.ProfessionalRank}}" class="form-control form-white" multiple="multiple" data-maximum-selection-length="1" data-placeholder="职称">
                                            <option>住院医师</option>
                                            <option>主治医师</option>
                                            <option>副主任医师</option>
                                            <option>主任医师</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师专科</label>
                                    <div specialist-directive specialties="dto.employee.provider.specialties"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="dto.employee.IsProvider">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师执业证编码</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.practiceNo" class="form-control form-white" placeholder="医师执业证编码">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>医师执业地区</label>
                                    <div citylist-directive location="dto.employee.provider.practiceLocation"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>第一执业机构</label>
                                    <div class="prepend-icon">
                                        <input type="text" ng-model="dto.employee.provider.primaryPracticeName" class="form-control form-white" placeholder="第一执业机构">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="dto.IsProvider">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>医师技能</label>
                                    <div class="prepend-icon">
                                        <textarea ng-model="dto.employee.provider.skills" class="form-control form-white" placeholder="医师技能"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary btn-embossed" ng-click="submitEmployeeEditor(false, dto.employee)">修改</button>
                </div>
            </div>
        </div>
    </div>

</div>